/.qtc_clangd/
/bin/
/lib/
/docs/
logs/
/data/


**CMakeLists.txt.user

.qtc_clangd

/apps/debugger/Beeb.*
apps/debugger/src/breakpoint_dlg.ui.autosave

.idea/

/cmake-build-release/
/cmake-build-relwithdebinfo-coverage/
/cmake-build-relwithdebinfo/
/cmake-build-debug/
/build
apps/crtc_inspector/build/
apps/crtc_inspector/src/crtc_view.ui.autosave
CMakeLists.txt.user.903709d
