/.qtc_clangd/
/bin/
/lib/
/docs/
logs/
/data/


**CMakeLists.txt.user

.qtc_clangd

/debugger/Beeb.*
debugger/src/breakpoint_dlg.ui.autosave

.idea/

/cmake-build-release/
/cmake-build-relwithdebinfo-coverage/
/cmake-build-relwithdebinfo/
/cmake-build-debug/
